<p id="notice"><%= notice %></p>
<img src="https://i.blogs.es/95f1a9/telcel/original.jpg" style="width:500px; height: 100px;">

<h1>Celulares</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Precio</th>
      <th>Modelo</th>
      <th>Memoriain</th>
      <th>Memoriaex</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @celulares.each do |celulare| %>
      <tr>
      <td><%= celulare.id %></td>
        <td><%= celulare.precio %></td>
        <td><%= celulare.modelo %></td>
        <td><%= celulare.memoriain %></td>
        <td><%= celulare.memoriaex %></td>
        <td><%= link_to 'Show', celulare %></td>
        <td><%= link_to 'Edit', edit_celulare_path(celulare) %></td>
        <td><%= link_to 'Destroy', celulare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Celulare', new_celulare_path %>
<%= link_to 'reportes', celulares_reportes_path %>