<p id="notice"><%= notice %></p>

<p>
  <strong>Precio:</strong>
  <%= @celulare.precio %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @celulare.modelo %>
</p>

<p>
  <strong>Memoriain:</strong>
  <%= @celulare.memoriain %>
</p>

<p>
  <strong>Memoriaex:</strong>
  <%= @celulare.memoriaex %>
</p>

<%= link_to 'Edit', edit_celulare_path(@celulare) %> |
<%= link_to 'Back', celulares_path %>
